html {
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
  padding-bottom: 6.74rem;
  box-sizing: inherit;

}

header {
      text-align: center;
      padding: 50px 0;
    }
    .menu {
      list-style: none;
      display: flex;
      justify-content: center;
      margin:1;
      padding: 0;
      position: relative;
      z-index: 1;
    }

    .menu li {
      margin: 0 10px;
    }

    .menu a {
      text-decoration: none;
      color: #333;
    }
    .menu a:hover {
      color: #7ABA96;
    }

    aside.sobremi {
      float: left;
      width: 15%;
      padding: 10px;
      margin-right: 40px;
      font-size: 16px;
      text-align: justify;
    }
    .recetas1 {
  text-align: center;
  width: 30%;
  display: inline-block;
  margin-left: 20px;

}

.receta2 {
  text-align: center;
  width: 33%;
  display: inline-block;
  margin-right: 30px;
  float: right;
}
 .recetas3 {
  text-align: center;
  float:right;
  width: 33%;
  display: inline-block;
  margin-right: 26px;

}

.recetas4 {
  position: absolute;
  top: 200px;
  text-align: center;
  width: 32%;
  display: inline-block;
  margin-right: 0px;
  float: right;
}

h2 {
  font-size: 17px;
}
h1{
font-size: 11px;
}
#hr2,#hr1 {
   border-color: #7ABA96;
}
.sobremi{
font-size: 22px;
text-align: center;
}
.menu{
font-size: 18px;
}
.fecha{
margin-bottom: 0;
}

img {
  max-width: 100%;
}

.footer {
  position: fixed;
  padding: 35px 0;
  background-color: #000000;
  right: 0;
  left: 0;
  bottom: 0;
}

.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer ul li a {
  color: white;
  text-decoration: none;
  opacity: 0.8;
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer ul li a:hover {
  opacity: 1;
}

