header {
      text-align: center;
      padding: 50px 0;
    }
    .menu {
      list-style: none;
      display: flex;
      justify-content: center;
      margin:0;
      padding: 0;
      position: relative;
      z-index: 1;
    }

    .menu li {
      margin: 0 10px;
    }

    .menu a {
      text-decoration: none;
      color: #333;
    }
    .menu a:hover {
      color: green;
    }

    aside.sobremi {
      float: left;
      width: 20%;
      padding: 10px;
    }
    section.recetas img {
      width: 60%;
      height: 60%;
      object-fit: contain;
    }