#listarecetas {
    justify-content: center;
    padding-left: 20vw;
    padding-right: 20vw;
    
}

#receta {
    padding-top: 1vw;
    padding-bottom: 1vw;
    justify-content: center;
    text-align: center;
}

#titulo {
    margin-top: 30px;
    text-align: center;
}

#contenido {
    
}

#imagenre {
    
    padding-top: 5px;
    width: 30%;
    
}

h2 a:hover {
    color: lightgrey;
  
  }

h1 {
    font-size: 25px;
    text-align: left;
   
}

h2 a{
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

h3 {
    font-size: 15px;
   
}

h4 {
    font-size: 10px;
   
}

