#receta {
    justify-content: center;
    padding-left: 20vw;
    padding-right: 20vw;
}

#modo {
    text-align: center;
    margin: 5px;
}

#intro {
    text-align: center;
    margin: 5px;
}

#ingre {
margin: 5px;
}

#prep {
    margin: 5px;
    text-align: justify;
}

#ing {
    padding: 5px;
}

#imag {
    margin: 5px;
    width: 50%;
}

#imagenre {
    text-align: center;
}

h1 {
    text-align: center;
    margin: 5px;
}
h2 {
    margin-bottom: 5px;
    font-size: medium;
}
h3 {
    margin-bottom: 5px;
}
h4 {

}